.base-node-input {
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    background: transparent;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
    pointer-events: all;
    cursor: text;
}

.base-node-input:disabled {
    pointer-events: none;
    cursor: default;
}